body {
  font-size: 17px;
  line-height:25px;
  color:#222;
}

a {
  color:#222;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.left {
  width:400px;
}

.left p {
  padding:0 10px;
}

.left h1 {
  margin:10px 0 10px 10px;
  font-size:30px;
  padding:5px 5px 5px 0px;
  background:url('biohazard.png') no-repeat top right;
}

h1 span, p em, a {
  background-color:#FFFF92;
}

p {
  padding:5px 0;
}

div.footer {
  font-size:13px;
  border-top:1px dotted #aaa;
  margin-top:10px;
}

div.footer ul {
  list-style-type:none;
}

#map {
  position:absolute;
  right:0;
  left:400px;
  top:0;
  bottom:0;
  border-left:1px solid #222;
  background:#2A2B2E;
}

.your {
  background:#444;
  color:#E7FCFF;
  padding:10px;
  min-height:100px;
  margin:10px 0;
}

.your h3 {
  text-align:middle;
  font-size:19px;
  font-weight:bold;
  font-family: 'Helvetica Neue';
}

.your .col-1 {
  width:230px;
}

.your .col-2 {
  float:right;
  width:130px;
}

.col-2 a, address {
  font-family:monospace;
  font-size:14px;
  line-height:15px;
}

.your small {
  font-size:20px;
  color:#ebfdff;
  font-style:italic;
}

.wax-tooltip a {
  font-weight:bold;
}

sup {
  font-size:10px;
}

.toolbit {
  background:#ffffb7;
  padding:5px;
  position:absolute;
}
