body {
  font-size: 17px;
  line-height:25px;
  color:#222;
  border-top:1px solid #000;
}

a {
  color:#222;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.container {
  width:700px;
  margin:0 auto;
}

h1 {
  margin:10px 0 10px 0;
  font-size:30px;
  padding:5px 5px 5px 0px;
  background:url('biohazard.png') no-repeat top right;
}

h1 span, p em, a {
  background-color:#FFFF92;
}

p {
  padding:5px 0;
}

div.footer {
  font-size:13px;
  border-top:1px solid #aaa;
  margin-top:10px;
}

div.footer ul {
  list-style-type:none;
}

#map {
  height:350px;
  border:1px solid #aaa;
  background:#4AAFBD;
}

.your {
  background:#444;
  color:#bff6fd;
  padding:10px;
}

.your h2 {
  text-align:middle;
  font-size:30px;
  font-weight:bold;
  font-family: 'Helvetica Neue';
}

.your small {
  font-size:20px;
  color:#ebfdff;
  font-style:italic;
}

.wax-tooltip a {
  font-weight:bold;
}

sup {
  font-size:10px;
}
